.nope{
	font-family:"Times New Roman";
	color:red;
	display:inline-block;
	width:40%;
	font-size: 300%;
	position:relative;
	left:50px;
	bottom:40px;

}
.senhora{
	width: 45%;
	position:absolute;
	right:0px;

}

.main{
	text-align: center;
	padding: 2%;
	
}

.main-image{
	border-radius: 10%;
	
}

button{
	width: 25%;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(123, 219, 187);
	font-weight: bold;
	font-size: 100%;
	
}
.yeah{
	text-align: center;
}

ol {
	list-style-position: inside;
}
